<section>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-3 left">
          <div class="title">
              <span><i class="icon ion-ios-menu"></i></span> SẢN PHẨM BIOWISH</div>
          <div class="itemMenu">
                  <div class="textMenu" *ngFor="let item of menuLeft">
                    <i class="icon ion-md-play"></i>
                    <a class="text">{{item.title}}</a>
                  </div>
          </div>
  
        </div>
        <div class="col-12 col-md-12 col-lg-9 right">
          <div class="title">
            PHÂN LOẠI: TẤT CẢ SẢN PHẨM
          </div>
          <div class="product">
            <div class="row cardProduct">
              <div class="col-12 col-md-12 col-lg-6" *ngFor="let item of fakeProduct">
                <div class="item-inside">
                    <div class="titleProduct">
                        {{item.name}}
                      </div>
                      <div class="item">
                        <div class="row">
                          <div class="imgLeft col-4">
                            <img src="{{item.img}}" alt="">
                          </div>
                          <div class="contentRight col-8">
                            <div class="descriptionP">
                              {{item.description}}
                            </div>
                            <div class="priceP">
                              {{item.price}}
                            </div>
                            <button class="buttonP">
                                <i class="icon ion-md-cart"></i>  MUA NGAY
                            </button>
                          </div>
                        </div>
                      </div>
                </div>
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </section>
  