app-category {
    section {
      .container {
          .title {
              color: #10467c;
              font-weight: 400;
              span{
                  font-size: 28px;
                  vertical-align: sub;
              }
            }
        .row {
          .left {
              .itemMenu{
                      .textMenu{
                          padding-top: 13px;
                          position: relative;
                          cursor: pointer;
                          font-size: 14px;
                          padding-left: 8px;
              
                          &.active,
                          &:hover {
                            i {
                              color: #10467c;
                              left: 11px;
                            }
              
                            a {
                              color: #10467c;
                            }
                          }
              
                          i {
                            position: absolute;
                            left: 8px;
                            margin-right: 5px;
                            color: #fff;
                            line-height: 2.4;
                            transition: all 400ms ease-in-out;
                          }
              
                          a {
                            margin-left: 20px;
                            font-size: 14px;
                            line-height: 2.4;
                            color: #707070;
                            text-decoration: none;
                            transition: all 400ms ease-in-out;
                          }
                      }
              }
          }
  
          .right {
              padding-top: 11px;
  
            .product {
              .cardProduct {
                .item-inside {
                  border: solid 1px #ececec;
                  background-color: #fafafa;
                  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                  padding: 14px;
                  margin-top: 25px;
  
                  .titleProduct {
                    color: #10467c;
                    font-weight: 400;
                  }
  
                  .item {
                    margin-top: 10px;
  
                    .row {
                      .imgLeft {
                        img {
                          width: 100px;
                        }
                      }
  
                      .contentRight {
                        .descriptionP {
                          font-size: 14px;
                        }
  
                        .priceP {
                          color: #bcda87;
                        }
  
                        button{
                          background-color: #10467c;
                          border: none;
                          color: white;
                          padding: 10px;
                          text-align: center;
                          text-decoration: none;
                          display: inline-block;
                          font-size: 14px;
                          margin: 4px 2px;
                          cursor: pointer;
                          -webkit-transition-duration: 0.4s;
                          /* Safari */
                          transition-duration: 0.4s;
                          &:hover {
                            box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
                          }
                        }
  
                      }
                    }
                  }
                }
  
  
              }
            }
          }
        }
      }
    }
  }
  