<section>
  <div class=container>
    <div class="title">
      GIỎ HÀNG CỦA BẠN
    </div>
    <div class="listItem">
        <!-- <div class="row">
          <div class="checked">
          </div>
          <div class="info">
            Thông tin sản phẩm
          </div>
          <div class="amount">
            Số lượng
          </div>
          <div class="price">
          </div>
        </div> -->
          <div class="row">
            <div class="col-1">
              1 of 3
            </div>
            <div class="col-4">
                Thông tin sản phẩm
            </div>
            <div class="col-3">
                Số lượng
            </div>
            <div class="col-4">
               Thành tiền
              </div>
          </div>
      </div>
  </div>

</section>
