<section>
  <div class="container">
    <div class="top">
      <div class="title">TẠO TÀI KHOẢN</div>
      <div class="description">Đăng ký tài khoản để mua hàng và được hộ trợ tốt hơn !</div>
    </div>
    <div class="bottom">

      <form>
        <div class="row">
          <div class="col-12 col-md-12 col-lg-6 left">
            <div class="form-group">
              <label for="email">Địa chỉ Email <span>*</span></label>
              <input type="text" class="form-control" id="email" required>
            </div>
            <div class="row">
              <div class="col-12 col-md-12 col-lg-6">
                <div class="form-group">
                  <label for="password">Mật khẩu <span>*</span></label>
                  <input type="password" class="form-control" id="password">
                </div>
              </div>
              <div class="col-12 col-md-12 col-lg-6">
                <div class="form-group">
                  <label for="password">Xác nhận mật khẩu <span>*</span></label>
                  <input type="password" class="form-control" id="passwordConfirm">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-12 col-lg-6">
                <div class="form-group">
                  <label for="fullName">Họ và tên <span>*</span></label>
                  <input type="text" class="form-control" id="fullName">
                </div>
              </div>
              <div class="col-12 col-md-12 col-lg-6">
                <div class="form-group">
                  <label for="brithday">Ngày sinh <span>*</span></label>
                  <input type="text" class="form-control" id="brithday">
                </div>
              </div>
            </div>
            <div class="radioCheck">
              <div class="form-group">
                <label for="fullName">Giới tính <span>*</span></label>
                <input type="radio" value="male" name="gender" required> Male
                <input type="radio" value="female" name="gender" required> Female
              </div>
            </div>
            <div class="form-group">
                    <label for="name">Số điện thoại <span>*</span></label>
                    <input type="number" class="form-control" id="phone" >
            </div>
            <div class="form-group">
                    <input type="radio" value="confirmClient" name="confirmClient" > Bạn có là khách hàng của AGRIBANK.
            </div>
          </div>
          <div class="col-12 col-md-12 col-lg-6 right">
              <div class="titleRight">Thông tin bổ sung</div>
            <div class="form-group">
              <label for="address">Địa chỉ <span>*</span></label>
              <input type="text" class="form-control" id="address" >
            </div>

            <div class="form-group">
              <label for="alterEgo">Alter Ego</label>
              <input type="text" class="form-control" id="alterEgo">
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>


    </div>
  </div>
</section>
